body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tabuleiro{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

.celula{
    display: flex;
    background-color: #e9dddd;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
}

#reiniciar{
    padding: 20px;
    margin-top: 10px;

}